.car{
    width: 90%;
    margin: auto;
}
.pie h3{
    font-size: 20px;
}

.d-flex{
    margin: auto;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.date{
    margin: 2rem;
}
.hora{
    margin-bottom: 2rem;
}

.dropdown{
    margin-right: 1rem;
}